@media (max-width: 768px) {
  .updateAvatarCard {
    width: 100%;
  }
}

.avatarImage {
  transition: 0.5s ease-in-out;
  width: 100%; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  border-radius: 50%; /* Adjust shape as needed */
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
